
li {
  margin: 10px 0px;
}
body {
  color:#cc9832;
  background:black;
}
.title {
  font-size: 80pt;
  text-align: center;
}
table {
  border: solid gold 2px;
  font-size: 40pt;
}
#links td {
  width: 20%;
}

td {
  border: solid gold 2px;
  text-align: center;
}
